.col-md-12
  a(href=link)
    h4= title
    img.item-thumbnail(src=image.url, align='left')
  span.item-summary= summary
.col-md-12
  .item-published.pull-right
    small Published at #{sourceRSS} on #{formattedDate}
