.col-md-12
  h4: a(href=link)= title
  a(href=link): img.item-thumbnail(src=image.url, align='left')
  span.item-summary= summary
.col-md-12
  .item-published.pull-right
    small Published at #{sourceRSS} on #{formattedDate}
